@{
    ViewData["Title"] = "Account";
}

<h1 align="center">Account</h1>

<h6 align="center">Here is your profile. Here is your current Lease. Would you like to renew the lease or end the lease?</h6>
 
<div align="center" style="width:100%; height:100%">

    <input type="button" value="Current Lease" onclick="@("window.location.href='" + @Url.Action("CurrentLease", "Account") + "'");" />
    <input type="button" value="Renew Lease" onclick="@("window.location.href='" + @Url.Action("RenewLease", "Account") + "'");" />
    <input type="button" value="End Lease" onclick="@("window.location.href='" + @Url.Action("EndLease", "Account") + "'");" />

</div>