@model List<AGRental.Models.Properties>

@{
    ViewData["Title"] = "Rent";


    @using Microsoft.AspNetCore.Http
    @using System.Globalization
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

    string userType = @HttpContextAccessor.HttpContext.Session.GetString("Type") ?? "";

}
<h2 align="center">Rent</h2>
<h6 align="center">Here are the available properties that we have to offer!!</h6>

<!--

    <form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by: <input type="text" name="SearchString" value="ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">

    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="ViewData["PropertyNameSortParm"]">Html.DisplayNameFor(model => model.property_name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="ViewData["AddressSortParm"]">Html.DisplayNameFor(model => model.address)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="ViewData["CitySortParm"]">Html.DisplayNameFor(model => model.city)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="ViewData["PriceSortParm"]">Html.DisplayNameFor(model => model.price)</a>
            </th>
        </tr>
    </thead>

 -->


<table class="table table-striped">
    <tr>
        <th>Property Name: </th>
        <th>Address: </th>
        <th>City: </th>
        <th>Price: </th>
    </tr>
    
        @foreach (var item in Model)
        {
            <tr>
                <td>
                  <a asp-controller="Rent" asp-action="ViewProperty" asp-route-propertyId="@item.Property_ID">@item.property_name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.city)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
            </tr>
        }
</table>
