@model AGRental.ViewModels.UserPropertiesViewModel
@{
    ViewData["Title"] = "Rent";
}

<!-- If user has a property display message and button -->
@if (Model.hasProperty)
{
    <div align="center" style="width:100%; height:100%">
        <h1 align="center"><font color="red">YOUR ACCOUNT ALREADY HAS A PROPERTY!</font></h1>

        <center><img src="http://mis.worldcall.net.pk/images/access_denied.gif" alt="ACCESS DENIED"</center>
        <br />
        <input type="button" value="Return to Account" class="btn btn-secondary btn-lg" onclick="@("window.location.href='" + @Url.Action("Index", "Account") + "'");" />
<<<<<<< HEAD
       
=======

>>>>>>> Project Working with Images
    </div>

}

else
{
    <!--Display's if user doesn't have a property -->
    <h2 align="center">Rent</h2>
    <h3 align="center">Here are the available properties that we have to offer!!</h3>
    <table class="table table-striped">
        <tr>
            <th>Property Name: </th>
            <th>Address: </th>
            <th>City: </th>
            <th>Price: </th>
            <th>Bedroom: </th>
            <th>Bathroom: </th>
        </tr>

        <!--Display's the Property List-->
        @foreach (var item in Model.propertyList)
        {
            <tr>
                <td>  <a asp-controller="Rent" asp-action="ViewProperty" asp-route-propertyId="@item.Property_ID">@item.property_name</a> </td>
                <td>  @Html.DisplayFor(modelItem => item.address) </td>
                <td>  @Html.DisplayFor(modelItem => item.city) </td>
                <td> $@Html.DisplayFor(modelItem => item.price) </td>
                <td>  @Html.DisplayFor(modelItem => item.bedrooms) </td>
                <td>  @Html.DisplayFor(modelItem => item.bathrooms) </td>
            </tr>
        }
    </table>
}