@model List<AGRental.Models.User>


@{
    ViewData["Title"] = "Home Page";

}

<h1 align="center">Welcome, @ViewBag.Username !!! </h1>

<h6 align="center">This is my rental application that will allow users to rent, renew leases, and pay for their rent.</h6>

<div align="center" style="width:100%; height:100%">
    <input type="button" value="Rent" onclick="@("window.location.href='" + @Url.Action("Index", "Rent") + "'");" />
    <input type="button" value="Payment" onclick="@("window.location.href='" + @Url.Action("Index", "Payment") + "'");" />
    <input type="button" value="Account" onclick="@("window.location.href='" + @Url.Action("Index", "Account") + "'");" />
</div>

